html 
{
    background-color: transparent;
}
a
{
    text-decoration: none;
    color: white;
}
.nav-active
{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border-radius: 1rem;
}
body
{
    background-color: rgb(100, 62, 109);
    color: white;
}
p,h1,h2,h3,h4,h5,h6
{
    color: white;
}
nav
{
    color: rgb(255, 116, 192);
    background-color: rgb(100, 62, 109);
    border-bottom: .1rem solid white;
}
i#btnTheme
{
    color: black;
}
footer
{
    border-top: .1rem solid rgb(100, 62, 109);;
    color: rgb(177, 22, 22);
    background: linear-gradient(#5f2d69, #000000);
}
div[name="sideBar"]
{
    grid-column: 1;
    grid-row: 2 / 4;
    background-color: rgb(40, 27, 46);
    border-right: .1rem solid white;
    height: 70rem;
    width: fit-content;
    padding-right: 2rem;
    position: sticky;
}

section#contentHere
{
    margin: 1.5rem;
    padding: .3rem;
    border: .15rem solid white;
    background-color: rgb(255, 0, 0);
    text-align: left;
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}
[name="socialText"]
{
    color: white;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
ul[name="socialText"] > li
{
    margin-bottom: .5rem;
}
/* Style for home */
/* Style for page2 */
/* Style for page3 */