html body 
{
    padding: 0;
    margin: 0;
}
nav
{
    text-align: center;
    grid-column: 1 /  5;
    grid-row: 1;
}
nav > ul > li
{
    list-style-type: none;
    display: inline-block;
    padding-right: 3rem;
    font-size: x-large;
}
nav > ul > li:first-child
{
    display: flex;
    position: absolute;
    left: .5rem;
    text-align: left !important;
    color: red;

}
nav > ul > li:last-child
{
    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    right: .1rem;
    top: .4rem;
}
nav a{text-decoration: none;}

[name="themeToggle"]
{
    cursor: pointer;
}
#aboutMe
{
    display: inline-block;
    text-align: center;
}
.wrapper
{
    display: grid;
    margin: auto;
    max-width: 100%;
    grid-template-columns: repeat(3, .1fr);
/*     gap: .rem;*/    
    grid-auto-rows: minmax(1rem, auto);
}
#heart
{
    cursor: pointer;
}